In [2]:
import numpy as np
import pandas as pd

data = {'Company':['GOOGLE','GOOGLE','MSFT','MSFT','FACEBOOK','FACEBOOK'],
'User':['Sam','Mikie','Amy','Vanessa','Malburg','Richo'],
'Sales':[200,300,150,110,100,100]}

df = pd.DataFrame(data)
# print(df)

byComp = df.groupby('Company')
 
byComp.mean()

          Sales
Company
FACEBOOK    100
GOOGLE      250
MSFT        130

In [4]:
byComp.std()

              Sales
Company
FACEBOOK   0.000000
GOOGLE    70.710678
MSFT      28.284271

In [5]:
byComp.sum()

          Sales
Company
FACEBOOK    200
GOOGLE      500
MSFT        260

In [6]:
byComp.min()

          Sales     User
Company
FACEBOOK    100  Malburg
GOOGLE      200    Mikie
MSFT        110      Amy

In [7]:
byComp.describe()

                     Sales
Company
FACEBOOK count    2.000000
         mean   100.000000
         std      0.000000
         min    100.000000
         25%    100.000000
         50%    100.000000
         75%    100.000000
         max    100.000000
GOOGLE   count    2.000000
         mean   250.000000
         std     70.710678
         min    200.000000
         25%    225.000000
         50%    250.000000
         75%    275.000000
         max    300.000000
MSFT     count    2.000000
         mean   130.000000
         std     28.284271
         min    110.000000
         25%    120.000000
         50%    130.000000
         75%    140.000000
         max    150.000000

In [10]:
df.groupby('Company').count()

          Sales  User
Company
FACEBOOK      2     2
GOOGLE        2     2
MSFT          2     2

In [12]:
df.groupby('Company').describe().transpose()['GOOGLE']

       count   mean        std    min    25%    50%    75%    max
Sales    2.0  250.0  70.710678  200.0  225.0  250.0  275.0  300.0