In [1]:
import pandas as pd
import numpy as np

In [4]:
df = pd.DataFrame({'col1':[1,2,3],
              'col2':[444,555,666],
              'col3':['cdv','acdda','abd']})
df

   col1  col2   col3
0     1   444    cdv
1     2   555  acdda
2     3   666    abd

In [5]:
df['col1'].unique()

array([1, 2, 3], dtype=int64)

In [6]:
df['col1'].value_counts()

3    1
2    1
1    1
Name: col1, dtype: int64

In [7]:
df[df['col2']>500]

   col1  col2   col3
1     2   555  acdda
2     3   666    abd

In [8]:
df['col2']>500

0    False
1     True
2     True
Name: col2, dtype: bool

In [9]:
def applyFunc(x):
    return x*2

In [10]:
df['col2'].apply(applyFunc)

0     888
1    1110
2    1332
Name: col2, dtype: int64

In [11]:
df.sort_values('col2')

   col1  col2   col3
0     1   444    cdv
1     2   555  acdda
2     3   666    abd